<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word</title>
</head>
<body>
    <form action="/reset" method="POST">
        {% csrf_token %}
        <p>Random Word (attempt:{{request.session.counter}})</p>
        <p>{{request.session.randy}}</p>
        <input type="submit" name="generate" value="generate">
        <input type="submit" name="reset" value="reset">
    </form>
</body>
</html>